rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /products/{productId} {
      allow read: if resource.data.visibleInMarket == true;
      allow write: if false;
    }

    match /productCategories/{catId} {
      allow read: if isSignedIn();
      allow write: if false;
    }

    match /orders/{orderId} {
      allow read: if isSignedIn();
      allow write: if false;
    }

    match /analytics/{docId} {
      allow read: if isSignedIn();
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
